doctype html
html
	head
		meta(charset="utf-8")
		title #{appname}
		link(rel="stylesheet" href="./css/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="./css/bootstrap-autocolumns.css")
		link(rel="stylesheet" href="./css/fa/css/font-awesome.min.css")
		link(rel="stylesheet" href="./css/index.css")
		script(src="./js/vue.js")
	body
		div.main#main
			div#footer.col-xs-12.centerer
				div.pad Add an account
				div(onclick="createApp()" class="").btn-round
					div +
			script(src="./js/main.js")
