@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
}

:root{
  --main-bg-color: #284b75;
  --input-bg-color: #316282;
  --off-white-color: #DDD;
  --btn-bg-color: #26517c;
  --btn-border-color:rgb(37, 69, 109);
  --btn-hover-bg-color: #DDD;
  --secondary-bg-color: rgb(37, 69, 109);
  --appli-bg-color: #26517c;
  --header-bg-color: rgb(29, 55, 88);
}
*{
	box-sizing:border-box;
}
*::-webkit-scrollbar,body::-webkit-scrollbar{
  background-color: rgba(0,0,0,0.1);
}
*::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb  {
  background-color: rgba(0,0,0,0.1);
}

body,html{
  position:relative;
	width:100%;
	height:100%;
	margin:0;
}
body{
	background-color: var(--main-bg-color);
	/*background: url("images/bg.png") center no-repeat #1b2838;*/
	color: var(--off-white-color);
	font-family: roboto-thin,roboto,verdana;
	font-weight: 100;
	overflow-y: hidden;
}
input{
	background-color: var(--input-bg-color);
	color: var(--off-white-color);
	border:none;
  padding:5px;
}
::-webkit-input-placeholder {
  color: var(--off-white-color);
}
input:focus{
	outline:none;
}
button{
  all:unset;
}
#footer{
  padding:20px;
  border-top: solid 1px rgba(0,0,0,0.3);
  margin-top:20px;
}
#main > div.container-fluid.row:not(:first-child){
  padding-top: 10px;
}
.clickable{
  cursor:pointer;
  user-select:none;
}
.btn-round{
  width:50px;
  height:50px;
  background-color: var(--btn-bg-color);
  border: 1px solid var(--btn-border-color);
  border-radius: 50%;
  font-size: 30px;
  box-shadow: 2px 2px rgba(0,0,0,.05);
  cursor:pointer;
  user-select: none;
  flex-direction: column;
  display:flex;
  align-items:center;
  justify-content: center;
}
.btn-round:hover{
  background-color: var(--btn-hover-bg-color);
  color: #222;
}
.main{
	width:100%;
	height: 100%;
	position:relative;
	overflow: auto;
  margin:0;
  padding: 30px 7vw;
}
.hunnit{
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.main > h2{
	position: sticky;
	top:0px;
}

.centerer{
  flex-direction: column;
	display:flex;
	align-items:center;
	justify-content: center;
}
.overlay{
  position: absolute;
  width: 99%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.drag{
	-webkit-app-region: drag;
	margin: 1px;
}
.winbtns{
	position: fixed;
	top:0;
	right:0;
	-webkit-app-region: no-drag;
}
.winbtns > *{
	text-align: center;
	display:flex;
	justify-content:center;
	align-items:center;
  padding: 6px 12px !important;
}
.btn{
  border: 1px solid var(--btn-border-color);
  box-shadow: 2px 2px rgba(0,0,0,.05);
	cursor: pointer;
	text-align:center;
	transition: all .1s linear;
	border-radius: 0;
	user-select:none;
  padding: 5px 5px;
}
.btn:not(.btn-danger){
  background-color: #26517c;
}
.btn:hover{
	color: black;
	background-color: var(--btn-hover-bg-color);
	/*box-shadow: 0 0 5px #fff;*/
}
.btn:focus{
  color: var(--btn-hover-bg-color);
  outline:none;
}
.btn.x:hover{
	color: red;
}
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus{
	box-shadow: 0 0 1px #fff;
}
.logInForm,.authForm,.emailForm,#loadingScreen{
width: 50%;
    height: 20%;
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	max-height:70%;
	max-width:750px;
}
label{
	padding:0!important;
}
label *{
		padding:5px;
	margin: 5px 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
.propDisp{
  padding:10px;
  color:black;
}
.propDisp > div{
  /*border-radius: 5px;
  padding: 10px;*/
  color: white;
  /*background-color: rgba(5,5,23,0.08);*/
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0,0,0,.05);
  /*overflow: hidden;*/
}
.propDisp > div > div:first-child{
  color: #DDD;
  font-weight: bold;
  font-family: Roboto;
  background: var(--secondary-bg-color);
padding: 5px;
/*border-radius: 5px;*/
}

.propDisp > div > div:last-child{
  color: #DDD;
  font-weight: 100;
  font-family: Roboto;
  padding:5px;
  border: 1px solid rgb(37, 69, 109);
  border-top-style: none;
}

.propertyWidget{
  display:flex;
  flex-wrap: wrap;
    text-align: center;
}
.propertyWidget.lighter > .propDisp > div > div:last-child{
  background-color: rgba(2, 200, 255, 0.05);
}
.appli{
  padding:10px;
  border: 1px solid rgb(37, 69, 109);
  background-color: var(--appli-bg-color);
  margin-bottom: 1px;
  display:flex;
  align-items:center;
  justify-content: center;
}

.pad{
  padding:10px;
}

.appsWidget{

}

.header{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--header-bg-color);
  padding: 0;
}

.header > h3 {
  margin:0;
  padding:0;
}

.appliContainer{
  overflow-y: auto;
  height:50vh;
}
